body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

nav {
    background-color: #333;
    /* color: #fff; */
    padding: 1rem;
    text-align: right;
  
}



.navbar {
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 200px;
    height: 100px;
    
    
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 25px;
    font-size: 1rem;
    font-weight: bold;

}

nav ul li a {
    color: #fff;
    text-decoration: none;

}

section {
    padding: 2rem;
    text-align: center;
}

.home-section {
    background: #f4f4f4;
}

.home-section h1 {
    font-size: 2rem;
    margin: 0;
    font-family: monospace, serif;
}

.home-section p {
    font-family: monospace, serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.img-ebei {
    background-color: whitesmoke;
}


.home-section span {
    color: #e8491d;
}


.about-section {
    font-family: monospace, serif;
    font-size: 1.2rem;
    font-weight: bold;
}


.button {
    display: inline-block;
    padding: 10px;
    background-color: #e8491d;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
    border-radius: 15px;
    padding-left: 0%;
    font-size: 2rem;
    font-weight: bold;
}

.skills-section {
    background-color: whitesmoke;
    font-family: monospace, serif;
    font-size: 1.5rem;
}

.skills-section ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    


}


.skills-section li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1rem;
    padding: 30px;
    font-family: monospace, serif;
}

.skills-section li i {
    color: #e8491d;
    margin-right: 10px;
    font-size: 2rem;
}


.skills-section ul li span {
    font-weight: bold;
    color: #e8491d;
}

.services-section {
    background: white;
    font-family: monospace, serif;
    font-size: 1.2rem;
}

.services-section h3 {
    color: #e8491d;
}

.services-section .service {
    margin-bottom: 1.5rem;
}






.services-section {
    text-align: center;
    padding: 20px;
}

.service {
    margin-top: 20px;
}

.service h3 {
    margin-bottom: 20px;
}
.service p {
    text-align: center;
}
.service > div {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
    margin-top: 20px;
}

.service > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%; 
    padding: 10px;
    
   
}
.service > div > div p{
    text-align: center;
}

.service img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.service button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.service button:hover {
    background-color: #0056b3; 
}








.service h3 {
    color: #e8491d;
}

.portfolio-section {
    font-family: monospace, serif;
    font-size: 1.2rem;
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
}

.portfolio-item {
    margin-bottom: 2rem;
    width: 50%;
    height: auto;
    border-radius: 10px;
    background-color: #e8491d;
    text-decoration-color: none;
    color: white;
    display: inline-block;
}

.portfolio-item h5 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    font-family: monospace, serif;
}



.contact-section {
    font-family: monospace, serif;
    font-size: 1.2rem;
    background-color: white;
    padding: 20px;
    text-align: center;
    margin-top: 2rem;
}

.contact-section form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contact-section form input,
.contact-section form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-section form button {
    padding: 0.7rem 1.5rem;
    background-color: #e8491d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p {
    margin: 0;
    font-family: monospace, serif;
    font-size: 1.2rem;
}

.social-media {
    margin-top: 1rem;
}

.social-media a {
    color: #e8491d;
    margin: 0 10px;
    text-decoration: none;
    font-size: 2rem;
}

.social-media a:hover {
    color: white;
}